<section id='planes' class='text-gray-600 body-font overflow-hidden'>
  <div class='container px-5 py-24 mx-auto'>
    <div class='flex flex-col text-center w-full mb-20'>
      <h1
        class='sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900'
      >
        Conoce nuestros precios
      </h1>
      <p class='lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500'>
        precios acorde a tus necesidades
      </p>
    </div>
    <div class='flex flex-wrap -m-4'>
      <div class='p-4 xl:w-1/4 md:w-1/2 w-full'>
        <div
          class='h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden'
        >
          <h2 class='text-sm tracking-widest title-font mb-1 font-medium'>
            Plan Evaluaciones
          </h2>
          <!-- Plan Evaluaciones -->
          <h1
            class='text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200'
          >
            <span>$15.000</span>
            <span class='text-lg ml-1 font-normal text-gray-500'>/mensual</span>
          </h1>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Historial de evaluaciones antropométricas.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Generación de reportes en PDF.
          </p>
          <p class='flex items-center text-gray-600 mb-6'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Recordatorios automáticos para seguimientos.
          </p>
          <p class='flex items-center text-gray-600 mb-6'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Gestión individual de clientes.
          </p>
        </div>
      </div>
      <!-- Plna Personal Trainer -->
      <div class='p-4 xl:w-1/4 md:w-1/2 w-full'>
        <div
          class='h-full p-6 rounded-lg border-2 border-blue-500 flex flex-col relative overflow-hidden'
        >
          <span
            class='bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl'
            >POPULAR</span
          >
          <h2 class='text-sm tracking-widest title-font mb-1 font-medium'>
            Plan Personal Trainer
          </h2>
          <h1
            class='text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200'
          >
            <span>$25.000</span>
            <span class='text-lg ml-1 font-normal text-gray-500'>/mensual</span>
          </h1>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Todo lo incluido en el Plan Evaluaciones.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Creador de rutinas personalizadas.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Gestión de clientes con progresos y objetivos.
          </p>
          <p class='flex items-center text-gray-600 mb-6'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Envío de rutinas y planes por correo.
          </p>
        </div>
      </div>
      <!-- Plan para Nutricionistas -->
      <div class='p-4 xl:w-1/4 md:w-1/2 w-full'>
        <div
          class='h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden'
        >
          <h2 class='text-sm tracking-widest title-font mb-1 font-medium'>
            Plan para Nutricionistas
          </h2>
          <h1
            class='text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200'
          >
            <span>$25.000</span>
            <span class='text-lg ml-1 font-normal text-gray-500'>/mensual</span>
          </h1>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Todo lo incluido en el Plan Evaluaciones.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Creador de recetas personalizadas.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Gestión de planes nutricionales individuales.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Envío de planes a clientes.
          </p>
        </div>
      </div>
      <!-- Plan Gimnasios y Empresas -->
      <div class='p-4 xl:w-1/4 md:w-1/2 w-full'>
        <div
          class='h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden'
        >
          <h2 class='text-sm tracking-widest title-font mb-1 font-medium'>
            Plan Gimnasios y Empresas
          </h2>
          <h1
            class='text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200'
          >
            <span> <span class='text-2xl'>Desde</span> $100.000</span>
            <span class='text-lg lg:text-sm ml-1 font-normal text-gray-500'
              >/mensual</span
            >
          </h1>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Acceso a todos los módulos: Evaluaciones, Rutinas y Recetas.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Gestión de múltiples usuarios y entrenadores.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Reportes avanzados y analíticas de uso.
          </p>
          <p class='flex items-center text-gray-600 mb-2'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Soporte prioritario.
          </p>
          <p class='flex items-center text-gray-600 mb-6'>
            <span
              class='w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0'
            >
              <svg
                fill='none'
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2.5'
                class='w-3 h-3'
                viewBox='0 0 24 24'
              >
                <path d='M20 6L9 17l-5-5'></path>
              </svg>
            </span>Y mucho más.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
