---
import Diagram from '../icons/Diagram.astro';
import Analysis from '../icons/Analysis.astro';
import Graph from '../icons/Graph.astro';
---

<section class='text-gray-600 body-font'>
  <div class='container px-5 mx-auto'>
    <h1
      class='text-center sm:text-4xl text-3xl font-medium title-font mb-7 text-gray-900'
    >
      ¿Por qué elegirnos?
    </h1>
    <div
      class='flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col'
    >
      <div
        class='sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0'
      >
        <Diagram class='lg:size-20 size-10' />
      </div>
      <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
        <h2 class='text-gray-900 text-lg title-font font-medium mb-2'>
          Todo en un solo lugar
        </h2>
        <p class='leading-relaxed text-base'>
          Desde la creación de rutinas y planes nutricionales hasta la
          evaluación de la salud de tus clientes, FitFlex te permite gestionar
          todo desde una sola plataforma, ahorrándote tiempo y esfuerzo.
        </p>
      </div>
    </div>
    <div
      class='flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col'
    >
      <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
        <h2 class='text-gray-900 text-lg title-font font-medium mb-2'>
          Personaliza según tus necesidades
        </h2>
        <p class='leading-relaxed text-base'>
          Con FitFlex, solo pagas por lo que necesitas. Elige módulos
          específicos para tu negocio, como creación de rutinas, recetas o
          evaluaciones de salud, y escala según crezcas.
        </p>
      </div>
      <div
        class='sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0'
      >
        <Analysis class='lg:size-20 size-10' />
      </div>
    </div>
    <div class='flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col'>
      <div
        class='sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0'
      >
        <Graph class='lg:size-20 size-10' />
      </div>
      <div class='flex-grow sm:text-left text-center mt-6 sm:mt-0'>
        <h2 class='text-gray-900 text-lg title-font font-medium mb-2'>
          Mejora el servicio que ofreces
        </h2>
        <p class='leading-relaxed text-base'>
          Envía rutinas personalizadas, planes de alimentación y recordatorios
          automáticos a tus clientes. Con FitFlex, podrás brindar una
          experiencia profesional y de calidad.
        </p>
      </div>
    </div>
  </div>
</section>
